.elementor-3796
  .elementor-element.elementor-element-0f7320e
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #3b2b98 0%, #f11a8e 100%);
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-0f7320e
  .elementor-background-overlay {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-3796 .elementor-element.elementor-element-0f7320e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-dbb9302
  .elementor-background-slideshow__slide__image {
  background-size: cover;
}
.elementor-3796
  .elementor-element.elementor-element-dbb9302
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-dbb9302
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .ue_slider,
.elementor-3796 .elementor-element.elementor-element-2356dce .ue_slide {
  height: 84vh;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .ue_slide_overlay {
 
}
.elementor-3796 .elementor-element.elementor-element-2356dce .slide__content {
 
  padding: 20px 20px 20px 20px;
  background-color: #00000080;
}
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .ue_simple_slider_title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 0px;
}
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .ue_simple_slider_text {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 10px;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .uc_more_btn {
  padding: 3px 25px 3px 25px;
  border-radius: 40px;
  background-color: #ffde00;
  color: #121212;
  margin-top: -55px;
    float: right;
}
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .uc_more_btn:hover {
  background-color: #3b2b98;
  color: #ffffff;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .slick-next,
.elementor-3796 .elementor-element.elementor-element-2356dce .slick-prev {
  top: 340px;
  border-radius: 0px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  font-size: 25px;
  background-color: #ffffff14;
  color: #000000;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .slick-next:hover,
.elementor-3796 .elementor-element.elementor-element-2356dce .slick-prev:hover {
  background-color: #000000;
  color: #ffffff;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .slick-dots {
  bottom: 35px;
}
.elementor-3796 .elementor-element.elementor-element-2356dce .slick-dots li,
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .stick-dots
  .slick-dots
  li
  button {
  
  width: 30px;
}
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .stick-dots
  .slick-dots
  li
  button {
  background-color: rgba(255, 255, 255, 0.27);
}
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .stick-dots
  .slick-dots
  li
  button:hover {
  background-color: rgba(255, 255, 255, 0.52);
}
.elementor-3796
  .elementor-element.elementor-element-2356dce
  .stick-dots
  .slick-dots
  li.slick-active
  button {
  background-color: #ffffff;
}
.elementor-3796
  .elementor-element.elementor-element-814566b:not(.elementor-motion-effects-element-type-background),
.elementor-3796
  .elementor-element.elementor-element-814566b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/Asset-2-8.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3796 .elementor-element.elementor-element-814566b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -15px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  z-index: 10;
}
.elementor-3796
  .elementor-element.elementor-element-814566b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-4416e63 {
  --spacer-size: 15px;
}
.elementor-3796
  .elementor-element.elementor-element-92a8ec9:not(.elementor-motion-effects-element-type-background),
.elementor-3796
  .elementor-element.elementor-element-92a8ec9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/Mission_Background_image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3796
  .elementor-element.elementor-element-92a8ec9
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000050 0%, #3b2b98 100%);
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-92a8ec9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -20px;
  margin-bottom: 0px;
 
  z-index: 1;
}
.elementor-3796 .elementor-element.elementor-element-072f82e {
  margin-top: 30px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-3796
  .elementor-element.elementor-element-948b59f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-3796
  .elementor-element.elementor-element-948b59f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-3796 .elementor-element.elementor-element-d2e5391 {
  text-align: left;
}
.elementor-3796
  .elementor-element.elementor-element-d2e5391
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-3796
  .elementor-element.elementor-element-d2e5391
  > .elementor-widget-container {
  padding: 40px 0px 0px 10px;
}
.elementor-3796 .elementor-element.elementor-element-fff65e9 {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
  align-self: center;
}
.elementor-3796
  .elementor-element.elementor-element-fff65e9
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-64f2673 {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
  align-self: center;
}
.elementor-3796
  .elementor-element.elementor-element-64f2673
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-985e42a {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
  align-self: center;
}
.elementor-3796
  .elementor-element.elementor-element-985e42a
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-07bf33c {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
  align-self: center;
}
.elementor-3796
  .elementor-element.elementor-element-07bf33c
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-f98f15d {
  text-align: left;
}
.elementor-3796
  .elementor-element.elementor-element-f98f15d
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-3796
  .elementor-element.elementor-element-f98f15d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 0px 10px;
}
.elementor-3796 .elementor-element.elementor-element-836d6a7 {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
}
.elementor-3796
  .elementor-element.elementor-element-836d6a7
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-44eebcb {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
}
.elementor-3796
  .elementor-element.elementor-element-44eebcb
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-d892ba5 {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
}
.elementor-3796
  .elementor-element.elementor-element-d892ba5
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796 .elementor-element.elementor-element-b198f0a {
  column-gap: 0px;
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  max-width: 100%;
}
.elementor-3796
  .elementor-element.elementor-element-b198f0a
  > .elementor-widget-container {
  padding: 10px 10px 20px 10px;
  border-radius: 15px 15px 15px 15px;
}
.elementor-3796
  .elementor-element.elementor-element-7ade616
  > .elementor-container {
  max-width: 1400px;
}
.elementor-3796
  .elementor-element.elementor-element-7ade616
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3796 .elementor-element.elementor-element-7ade616 {
  margin-top: 30px;
  margin-bottom: 80px;
}
.elementor-3796 .elementor-element.elementor-element-48c7b18 {
  text-align: center;
}
.elementor-3796
  .elementor-element.elementor-element-48c7b18
  .elementor-heading-title {
  color: #3b2b98;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-3796
  .elementor-element.elementor-element-48c7b18
  > .elementor-widget-container {
  padding: 0px 0px 20px 0px;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .ue-carousel-item {
  text-align: left;
  background-color: #ffffff;
  border-radius: 0px;
  transform: scale(1, 1);
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .uc_classic_carousel_content {
  padding: 0px 20px 20px 20px;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .uc-active-item
  .ue-carousel-item {
  transform: scale(1, 1);
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .uc_classic_carousel_border {
  width: 62px;
  height: 0px;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .uc_classic_carousel_placeholder
  img {
  border-radius: 15px;
  height: 514px;
  width: 358px !important;
  object-fit: cover;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .ue-item-icon {
  width: 60px;
  height: 60px;
  font-size: 20px;
  color: #ffffff;
  background-color: #6e6e6e;
  border-radius: 100px 100px 100px 100px;
  margin-top: 0px;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .ue-item-icon svg {
  fill: #ffffff;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .ue-item-icon-wrapper {
  justify-content: center;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .card_carousel_title {
  margin-top: 0px;
  color: #ffde00;
  font-family: "Sniglet", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .card_carousel_text {
  color: #ffde00;
  font-family: "Montserrat", Sans-serif;
  font-size: 0px;
  font-weight: 700;
  line-height: 0px;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .uc_more_btn {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 20px 2px 20px;
  border-radius: 100px;
  background-color: #ffde00;
  color: #000000;
  margin-top: -50px;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .uc_more_btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .owl-nav
  .owl-prev {
  left: 0px;
  right: auto;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .owl-nav
  .owl-next {
  right: 0px;
  left: auto;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .owl-carousel
  .owl-nav
  .owl-next,
.elementor-3796
  .elementor-element.elementor-element-5209873
  .owl-carousel
  .owl-nav
  .owl-prev {
  top: 230px;
  border-radius: 85px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background-color: #ffffff;
  color: #000000;
}
.elementor-3796
  .elementor-element.elementor-element-5209873
  .owl-carousel
  .owl-nav
  .owl-next:hover,
.elementor-3796
  .elementor-element.elementor-element-5209873
  .owl-carousel
  .owl-nav
  .owl-prev:hover {
  background-color: #000000;
  color: #ffffff;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .owl-dot {
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  margin: 0px 5px;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .owl-dot.active {
  background-color: #000000;
}
.elementor-3796 .elementor-element.elementor-element-5209873 .owl-dots {
  margin-top: 20px;
}
.elementor-3796
  .elementor-element.elementor-element-75517b8:not(.elementor-motion-effects-element-type-background),
.elementor-3796
  .elementor-element.elementor-element-75517b8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3796
  .elementor-element.elementor-element-75517b8
  > .elementor-background-overlay {
  
  background-position: bottom center;
  background-repeat: no-repeat;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-75517b8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px 0px 0px;
  z-index: 1;
}
.elementor-3796
  .elementor-element.elementor-element-e00cd85
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-e00cd85
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-88d992b {
  margin-top: 0px;
  margin-bottom: -0px;
  padding: 10px 0px 0px 0px;
  z-index: 1;
}
.elementor-3796
  .elementor-element.elementor-element-12cd2bd
  > .elementor-element-populated,
.elementor-3796
  .elementor-element.elementor-element-12cd2bd
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-3796
  .elementor-element.elementor-element-12cd2bd
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-3796
  .elementor-element.elementor-element-12cd2bd
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5px 0px 5px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-12cd2bd
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-d2e6cbc img {
  width: 55%;
  transition-duration: 0s;
}
.elementor-3796 .elementor-element.elementor-element-d2e6cbc:hover img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-3796 .elementor-element.elementor-element-669a1fb {
  text-align: center;
}
.elementor-3796
  .elementor-element.elementor-element-669a1fb
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1px;
}
.elementor-3796
  .elementor-element.elementor-element-669a1fb
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-3796 .elementor-element.elementor-element-974a9ea {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.elementor-3796
  .elementor-element.elementor-element-974a9ea
  > .elementor-widget-container {
  margin: 0px 0px -50px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-3796 .elementor-element.elementor-element-932f145 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-932f145
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-ca84d2a
  > .elementor-element-populated,
.elementor-3796
  .elementor-element.elementor-element-ca84d2a
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-3796
  .elementor-element.elementor-element-ca84d2a
  > .elementor-background-slideshow {
  border-radius: 0px 0px 40px 40px;
}
.elementor-3796
  .elementor-element.elementor-element-ca84d2a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-ca84d2a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-c9142be {
  --spacer-size: 520px;
}
.elementor-3796
  .elementor-element.elementor-element-9a74b7e:not(.elementor-motion-effects-element-type-background),
.elementor-3796
  .elementor-element.elementor-element-9a74b7e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
  background-image: url("../images/help-people-map1.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3796
  .elementor-element.elementor-element-9a74b7e
  > .elementor-background-overlay {
  background-color: #ffffff;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-9a74b7e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 0px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-31463cc
  > .elementor-container {
  max-width: 1400px;
}
.elementor-3796 .elementor-element.elementor-element-31463cc {
  margin-top: 0px;
  margin-bottom: -59px;
}
.elementor-3796 .elementor-element.elementor-element-cbc98d2 {
  text-align: left;
}
.elementor-3796
  .elementor-element.elementor-element-cbc98d2
  .elementor-heading-title {
  color: #3b2b98;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-3796
  .elementor-element.elementor-element-cbc98d2
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-3796 .elementor-element.elementor-element-d8b843b {
  text-align: justify;
  color: #121212;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.elementor-3796
  .elementor-element.elementor-element-d8b843b
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-06cd38c
  .elementor-counter-number-wrapper {
  color: #3b2b98;
  font-family: "Roboto", Sans-serif;
  font-size: 45px;
  font-weight: 600;
}
.elementor-3796
  .elementor-element.elementor-element-06cd38c
  .elementor-counter-title {
  color: #121212;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.elementor-3796 .elementor-element.elementor-element-06cd38c {
  width: 24%;
  max-width: 24%;
}
.elementor-3796
  .elementor-element.elementor-element-7f97d84
  .elementor-counter-number-wrapper {
  color: #3b2b98;
  font-family: "Roboto", Sans-serif;
  font-size: 45px;
  font-weight: 600;
}
.elementor-3796
  .elementor-element.elementor-element-7f97d84
  .elementor-counter-title {
  color: #121212;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.elementor-3796 .elementor-element.elementor-element-7f97d84 {
  width: 24%;
  max-width: 24%;
}
.elementor-3796
  .elementor-element.elementor-element-0e6ba20
  .elementor-counter-number-wrapper {
  color: #3b2b98;
  font-family: "Roboto", Sans-serif;
  font-size: 45px;
  font-weight: 600;
}
.elementor-3796
  .elementor-element.elementor-element-0e6ba20
  .elementor-counter-title {
  color: #121212;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.elementor-3796 .elementor-element.elementor-element-0e6ba20 {
  width: 24%;
  max-width: 24%;
}
.elementor-3796
  .elementor-element.elementor-element-21efb9d
  .elementor-counter-number-wrapper {
  color: #3b2b98;
  font-family: "Roboto", Sans-serif;
  font-size: 45px;
  font-weight: 600;
}
.elementor-3796
  .elementor-element.elementor-element-21efb9d
  .elementor-counter-title {
  color: #121212;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.elementor-3796 .elementor-element.elementor-element-21efb9d {
  width: 24%;
  max-width: 24%;
}
.elementor-bc-flex-widget
  .elementor-3796
  .elementor-element.elementor-element-39571ba.elementor-column
  .elementor-widget-wrap {
  align-items: flex-start;
}
.elementor-3796
  .elementor-element.elementor-element-39571ba.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-3796
  .elementor-element.elementor-element-39571ba
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3796
  .elementor-element.elementor-element-39571ba
  > .elementor-element-populated {
  margin: 0px 0px 0px 50px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 50px;
  padding: 0px 0px 0px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-7187027
  .elementor-wrapper {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}
.elementor-3796
  .elementor-element.elementor-element-7187027
  > .elementor-widget-container {
  margin: 0px 0px -245px 0px;
}
.elementor-3796 .elementor-element.elementor-element-7187027 {
  width: 79%;
  max-width: 79%;
}
.elementor-3796
  .elementor-element.elementor-element-fe49bd7:not(.elementor-motion-effects-element-type-background),
.elementor-3796
  .elementor-element.elementor-element-fe49bd7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/2.png");
  background-position: -310px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3796
  .elementor-element.elementor-element-fe49bd7
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #3b2b98 0%, #f2295b 100%);
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-fe49bd7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 100px 0px;
}
.elementor-3796 .elementor-element.elementor-element-e81ef5a {
  text-align: center;
}
.elementor-3796
  .elementor-element.elementor-element-e81ef5a
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-3796
  .elementor-element.elementor-element-e81ef5a
  > .elementor-widget-container {
  padding: 10px 0px 15px 0px;
}
.elementor-3796 .elementor-element.elementor-element-38402b6 {
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
  line-height: 25px;
}
.elementor-3796
  .elementor-element.elementor-element-38402b6
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-3796 .elementor-element.elementor-element-53619e6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-3796
  .elementor-element.elementor-element-66c2642.elementor-view-stacked
  .elementor-icon {
  background-color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-66c2642.elementor-view-framed
  .elementor-icon,
.elementor-3796
  .elementor-element.elementor-element-66c2642.elementor-view-default
  .elementor-icon {
  fill: #eccd00;
  color: #eccd00;
  border-color: #eccd00;
}
.elementor-3796 .elementor-element.elementor-element-66c2642 {
  --icon-box-icon-margin: 15px;
}
.elementor-3796
  .elementor-element.elementor-element-66c2642
  .elementor-icon-box-wrapper {
  text-align: justify;
}
.elementor-3796
  .elementor-element.elementor-element-66c2642
  .elementor-icon-box-title {
  color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-66c2642
  .elementor-icon-box-title,
.elementor-3796
  .elementor-element.elementor-element-66c2642
  .elementor-icon-box-title
  a {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.elementor-3796
  .elementor-element.elementor-element-66c2642
  .elementor-icon-box-description {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
.elementor-3796
  .elementor-element.elementor-element-6c852b8.elementor-view-stacked
  .elementor-icon {
  background-color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-6c852b8.elementor-view-framed
  .elementor-icon,
.elementor-3796
  .elementor-element.elementor-element-6c852b8.elementor-view-default
  .elementor-icon {
  fill: #eccd00;
  color: #eccd00;
  border-color: #eccd00;
}
.elementor-3796 .elementor-element.elementor-element-6c852b8 {
  --icon-box-icon-margin: 15px;
}
.elementor-3796
  .elementor-element.elementor-element-6c852b8
  .elementor-icon-box-wrapper {
  text-align: justify;
}
.elementor-3796
  .elementor-element.elementor-element-6c852b8
  .elementor-icon-box-title {
  color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-6c852b8
  .elementor-icon-box-title,
.elementor-3796
  .elementor-element.elementor-element-6c852b8
  .elementor-icon-box-title
  a {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.elementor-3796
  .elementor-element.elementor-element-6c852b8
  .elementor-icon-box-description {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
.elementor-3796
  .elementor-element.elementor-element-993731d:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-3796
  .elementor-element.elementor-element-993731d
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.elementor-3796
  .elementor-element.elementor-element-993731d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 120px 0px -15px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-993731d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-9b3ad99 {
  --spacer-size: 10px;
}
.elementor-3796
  .elementor-element.elementor-element-e4fd5db.elementor-view-stacked
  .elementor-icon {
  background-color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-e4fd5db.elementor-view-framed
  .elementor-icon,
.elementor-3796
  .elementor-element.elementor-element-e4fd5db.elementor-view-default
  .elementor-icon {
  fill: #eccd00;
  color: #eccd00;
  border-color: #eccd00;
}
.elementor-3796 .elementor-element.elementor-element-e4fd5db {
  --icon-box-icon-margin: 15px;
}
.elementor-3796
  .elementor-element.elementor-element-e4fd5db
  .elementor-icon-box-wrapper {
  text-align: justify;
}
.elementor-3796
  .elementor-element.elementor-element-e4fd5db
  .elementor-icon-box-title {
  color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-e4fd5db
  .elementor-icon-box-title,
.elementor-3796
  .elementor-element.elementor-element-e4fd5db
  .elementor-icon-box-title
  a {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.elementor-3796
  .elementor-element.elementor-element-e4fd5db
  .elementor-icon-box-description {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
.elementor-3796
  .elementor-element.elementor-element-4e8a58e.elementor-view-stacked
  .elementor-icon {
  background-color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-4e8a58e.elementor-view-framed
  .elementor-icon,
.elementor-3796
  .elementor-element.elementor-element-4e8a58e.elementor-view-default
  .elementor-icon {
  fill: #eccd00;
  color: #eccd00;
  border-color: #eccd00;
}
.elementor-3796 .elementor-element.elementor-element-4e8a58e {
  --icon-box-icon-margin: 15px;
}
.elementor-3796
  .elementor-element.elementor-element-4e8a58e
  .elementor-icon-box-wrapper {
  text-align: justify;
}
.elementor-3796
  .elementor-element.elementor-element-4e8a58e
  .elementor-icon-box-title {
  color: #eccd00;
}
.elementor-3796
  .elementor-element.elementor-element-4e8a58e
  .elementor-icon-box-title,
.elementor-3796
  .elementor-element.elementor-element-4e8a58e
  .elementor-icon-box-title
  a {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.elementor-3796
  .elementor-element.elementor-element-4e8a58e
  .elementor-icon-box-description {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}
.elementor-3796
  .elementor-element.elementor-element-6086d8b
  > .elementor-container {
  max-width: 1600px;
}
.elementor-3796
  .elementor-element.elementor-element-d6a3bf5
  > .elementor-widget-container {
  margin: 50px 0px 0px 0px;
}
.elementor-3796 .elementor-element.elementor-element-0d1d549 {
  margin-top: 80px;
  margin-bottom: 0px;
}
.elementor-3796 .elementor-element.elementor-element-ab56824 {
  text-align: center;
}
.elementor-3796
  .elementor-element.elementor-element-ab56824
  .elementor-heading-title {
  color: #3b2b98;
  font-family: "Montserrat", Sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.elementor-3796
  .elementor-element.elementor-element-ab56824
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-3ee9a9d
  .we-believe__title
  a,
.we-believe__title,
.elementor-3796
  .elementor-element.elementor-element-3ee9a9d
  .help-them__title
  a,
.elementor-3796
  .elementor-element.elementor-element-3ee9a9d
  .feature-one__title,
.contact-info__title {
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.elementor-3796 .elementor-element.elementor-element-3ee9a9d .we-believe__text,
.elementor-3796 .elementor-element.elementor-element-3ee9a9d .help-them__text,
.elementor-3796 .elementor-element.elementor-element-3ee9a9d .feature-one__text,
.elementor-3796
  .elementor-element.elementor-element-3ee9a9d
  .contact-info__text {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #121212;
}
.elementor-3796
  .elementor-element.elementor-element-3ee9a9d
  > .elementor-widget-container {
  margin: -80px 0px 0px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-96daab3:not(.elementor-motion-effects-element-type-background),
.elementor-3796
  .elementor-element.elementor-element-96daab3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/testimonial-two-1.png");
  background-size: cover;
}
.elementor-3796 .elementor-element.elementor-element-96daab3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 80px 0px 80px 0px;
}
.elementor-3796
  .elementor-element.elementor-element-96daab3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796 .elementor-element.elementor-element-2b8993a {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 55px;
  font-weight: 700;
  line-height: 66px;
}
.elementor-bc-flex-widget
  .elementor-3796
  .elementor-element.elementor-element-7a1667c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-3796
  .elementor-element.elementor-element-7a1667c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-3796
  .elementor-element.elementor-element-7a1667c.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-3796
  .elementor-element.elementor-element-7a1667c
  > .elementor-element-populated,
.elementor-3796
  .elementor-element.elementor-element-7a1667c
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-3796
  .elementor-element.elementor-element-7a1667c
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-3796
  .elementor-element.elementor-element-7a1667c
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-7a1667c
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container {
  height: 350px;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .author-img
  img {
  width: 150px;
  height: 150px;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .content {
  text-align: left;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .description
  .author-name {
  text-align: left;
  color: #ffde00;
  font-family: "Montserrat", Sans-serif;
  font-weight: 500;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .description
  .company {
  text-align: center;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .swiper-button-prev::after,
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .swiper-button-next::after {
  color: #ffffff;
  font-size: 25px;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .swiper-pagination-bullet-active {
  background: #ffffff;
}
.elementor-3796
  .elementor-element.elementor-element-c31428c
  .atc-testimonial-container
  .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
}
.elementor-3796 .elementor-element.elementor-element-c31428c {
  width: 85%;
  max-width: 85%;
  align-self: center;
}
.elementor-3796 .elementor-element.elementor-element-b925e90 {
  --spacer-size: 80px;
}
@media (max-width: 767px) {
  .elementor-3796 .elementor-element.elementor-element-d2e5391 {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-fff65e9 {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-64f2673 {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-985e42a {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-07bf33c {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-f98f15d {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-836d6a7 {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-44eebcb {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-d892ba5 {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-b198f0a {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-75517b8 {
    padding: 20px 0px 50px 0px;
  }
  .elementor-3796 .elementor-element.elementor-element-c9142be {
    --spacer-size: 370px;
  }
  .elementor-3796 .elementor-element.elementor-element-31463cc {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-3796 .elementor-element.elementor-element-cbc98d2 {
    text-align: center;
  }
  .elementor-3796 .elementor-element.elementor-element-06cd38c {
    width: 50%;
    max-width: 50%;
  }
  .elementor-3796 .elementor-element.elementor-element-7f97d84 {
    width: 50%;
    max-width: 50%;
  }
  .elementor-3796 .elementor-element.elementor-element-0e6ba20 {
    width: 50%;
    max-width: 50%;
  }
  .elementor-3796 .elementor-element.elementor-element-21efb9d {
    width: 50%;
    max-width: 50%;
  }
  .elementor-3796
    .elementor-element.elementor-element-39571ba
    > .elementor-element-populated {
    margin: 30px -40px -100px 30px;
    --e-column-margin-right: -40px;
    --e-column-margin-left: 30px;
  }
  .elementor-3796
    .elementor-element.elementor-element-7187027
    > .elementor-widget-container {
    margin: -11px -11px -11px -11px;
  }
  .elementor-3796 .elementor-element.elementor-element-fe49bd7 {
    padding: 0px 0px 160px 0px;
  }
  .elementor-3796
    .elementor-element.elementor-element-993731d
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-3796 .elementor-element.elementor-element-9b3ad99 {
    --spacer-size: 320px;
  }
  .elementor-3796
    .elementor-element.elementor-element-9b3ad99
    > .elementor-widget-container {
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-3796
    .elementor-element.elementor-element-d6a3bf5
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-3796
    .elementor-element.elementor-element-c31428c
    .atc-testimonial-container
    .content {
    padding: 0px 0px 0px 0px;
  }
  .elementor-3796 .elementor-element.elementor-element-b925e90 {
    --spacer-size: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-3796 .elementor-element.elementor-element-948b59f {
    width: 29.385%;
  }
  .elementor-3796 .elementor-element.elementor-element-2732600 {
    width: 20.571%;
  }
  .elementor-3796 .elementor-element.elementor-element-07fab04 {
    width: 20.965%;
  }
  .elementor-3796 .elementor-element.elementor-element-a9df258 {
    width: 29.035%;
  }
  .elementor-3796 .elementor-element.elementor-element-96ec05e {
    width: 100%;
  }
  .elementor-3796 .elementor-element.elementor-element-5c1415f {
    width: 17.484%;
  }
  .elementor-3796 .elementor-element.elementor-element-12cd2bd {
    width: 64.696%;
  }
  .elementor-3796 .elementor-element.elementor-element-89433ab {
    width: 17.486%;
  }
  .elementor-3796 .elementor-element.elementor-element-def7071 {
    width: 51.95%;
  }
  .elementor-3796 .elementor-element.elementor-element-39571ba {
    width: 48.05%;
  }
  .elementor-3796 .elementor-element.elementor-element-0b2db41 {
    width: 39.034%;
  }
  .elementor-3796 .elementor-element.elementor-element-7a1667c {
    width: 60.966%;
  }
}
